<section class="section contact" id='contato'>
    <div class="container">
        <div class="section-box">
            <div class="mb-4">
                <h3 class="contact-pre-title subtitulo-grande">05. {{"Contato.PreTitulo" | translate}}</h3>
                <h4 class="e-font contact-title titulo-grande">
                    {{"Contato.Titulo" | translate}}
                </h4>
            </div>
            <p>
                {{"Contato.Conteudo" | translate}}
            </p>
            <div class="mt-5">
                <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "contato", "email")' href="https://www.linkedin.com/in/marcelosjr/" target="_blank" class="main-btn">
                    {{"Contato.Btn" | translate}}
                </a>
            </div>
        </div>
    </div>
</section>